In [1]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 200)

In [2]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [3]:
# Get a brief summary of the crowdfunding_info DataFrame.
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB

In [4]:
# splitting 'category & sub-category' into two columns in its own dataframe

cats = pd.DataFrame()
cats[['category', 'subcategory']] = crowdfunding_info_df['category & sub-category'].str.split('/', n=2, expand = True)
cats.head(5)

     category  subcategory
0        food  food trucks
1       music         rock
2  technology          web
3       music         rock
4     theater        plays

In [12]:
# Placing each column into its own dataframe

cat = cats['category'].to_frame()
sub = cats['subcategory'].to_frame()
sub.head()

   subcategory
0  food trucks
1         rock
2          web
3         rock
4        plays

In [60]:
# create the requested subcategory csv 
# getting unique subcategory values
sublist = list(sub.subcategory.unique())

# get number of subcat values
count = len(sublist)

# create dictionary with requested columns
data = {'category_id':[], 'subcategory':[]}

# create new dataframe for csv conversion
for r in range(1,count+1):
    s = (f'subcat{r}')
    data['category_id'].append(s)
    data['subcategory'].append(sublist[r-1])
subuq = pd.DataFrame(data)
subuq.to_csv('Output/subcategory.csv')

In [61]:
# create the requested subcategory csv 
# getting unique subcategory values
catlist = list(cat.category.unique())

# get number of subcat values
count = len(catlist)

# create dictionary with requested columns
data = {'category_id':[], 'category':[]}

# create new dataframe for csv conversion
for r in range(1,count+1):
    s = (f'cat{r}')
    data['category_id'].append(s)
    data['category'].append(catlist[r-1])
catuq = pd.DataFrame(data)
catuq.to_csv('Output/category.csv')

In [62]:
crowdfunding_df = crowdfunding_info_df[["cf_id","contact_id","company_name","blurb",\
                                                    "goal","pledged","outcome","backers_count","country","currency",\
                                                    "launched_at","deadline"]]

In [63]:
# join separated columns back to original dataframe
crowd_update_1st_join = crowdfunding_df.join(cats)
crowd_update_1st_join.head(2)

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,music,rock

In [64]:
crowd_update_merge_1st = crowd_update_1st_join.merge(catuq, how='left', on='category')
crowd_update_merge_1st.head(5)

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,category,subcategory,category_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,food,food trucks,cat1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,music,rock,cat2
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,technology,web,cat3
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,music,rock,cat2
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,theater,plays,cat4

In [81]:
crowd_update_merge_2nd = crowd_update_merge_1st.merge(subuq, how='left', on='subcategory')
crowd_update_merge_2nd.head(5)

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,category,subcategory,category_id_x,category_id_y
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,food,food trucks,cat1,subcat1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,music,rock,cat2,subcat2
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,technology,web,cat3,subcat3
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,music,rock,cat2,subcat2
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,theater,plays,cat4,subcat4

In [86]:
# change columns 'launched_at' and 'deadline' to datetime
crowd_update_merge_2nd["launched_at"] = pd.to_datetime(crowd_update_merge_2nd["launched_at"],unit = 's')
crowd_update_merge_2nd["deadline"] = pd.to_datetime(crowd_update_merge_2nd["deadline"],unit = 's')
# crowd_update_merge_2nd.deadline.astype('datetime64[M]')
crowd_update_merge_2nd.head(2)

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,category,subcategory,category_id_x,category_id_y
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,2020-02-13 06:00:00,2021-03-01 06:00:00,food,food trucks,cat1,subcat1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,2021-01-25 06:00:00,2021-05-25 05:00:00,music,rock,cat2,subcat2

In [89]:
# rename columns 'launched_at' and 'deadline' to "launch_date" and "end_date"

crowd_update_merge_2nd.rename(columns= {'launched_at':"launch_date",'deadline':"end_date" }, inplace=True)
crowd_update_merge_2nd.head(2)

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category,subcategory,category_id_x,category_id_y
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,2020-02-13 06:00:00,2021-03-01 06:00:00,food,food trucks,cat1,subcat1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,2021-01-25 06:00:00,2021-05-25 05:00:00,music,rock,cat2,subcat2

In [90]:
# put final dataframe into CSV

crowd_update_merge_2nd.to_csv('Output/campaign.csv')